openapi: 3.0.3
info:
  title: API de Korly — gestión financiera por periodos
  version: "1.1.0"
  description: >
    Contrato de la API REST de Korly (ADR-006), alineado con lo que el
    servidor responde de verdad. Una prueba automática
    (`backend/test/integracion/openapi.test.ts`) compara las rutas
    registradas en el servidor contra este archivo y falla si una operación
    existe en uno y no en el otro (ADR-010). Los campos de cada operación se
    mantienen a mano: al cambiar una respuesta o un cuerpo, se cambia aquí.


    **Convenciones.** Todos los montos son `Monto` (entero en unidades mínimas
    más moneda, ADR-002). Los errores de dominio responden
    `{ codigo, mensaje }` (esquema `Error`) con el estado HTTP que asigna
    `backend/src/shared/http.ts`. Toda operación (salvo las de Sistema y el
    webhook de Stripe) exige `Authorization: Bearer <token de Supabase>` y
    puede responder `401` (`NO_AUTENTICADO` si falta el token,
    `TOKEN_INVALIDO` si venció o Supabase lo rechaza), `429`
    (`DEMASIADAS_SOLICITUDES`, límite de peticiones) y `503`
    (`AUTENTICACION_NO_DISPONIBLE`, Supabase Auth no respondió: no significa
    que la sesión sea inválida y el cliente no debe cerrarla).

servers:
  - url: https://api.korly.com.mx/v1
    description: Producción

tags:
  - name: Periodos
  - name: Ingresos
  - name: Gastos
  - name: Disponible
  - name: Cierre
  - name: Metas
  - name: Categorías
  - name: Recurrentes
  - name: Atajos
  - name: Tarjetas
  - name: Suscripción
  - name: Preferencias
  - name: Cuenta
  - name: Comentarios
  - name: Importación y exportación
  - name: Sistema

# ============================================================
# SEGURIDAD
# ============================================================
security:
  - bearerAuth: []

# ============================================================
# RUTAS
# ============================================================
paths:

  # ---------- SISTEMA ----------
  /me:
    get:
      tags: [Sistema]
      summary: Identidad resuelta de la sesión
      description: Devuelve los identificadores internos (no los de Supabase, ADR-003).
      responses:
        '200':
          description: Identidad de la sesión
          content:
            application/json:
              schema:
                type: object
                required: [usuarioId, tenantId]
                properties:
                  usuarioId: { type: string, format: uuid }
                  tenantId: { type: string, format: uuid }

  /salud:
    get:
      tags: [Sistema]
      summary: El proceso está vivo
      description: Fuera de `/v1`, sin autenticación y sin límite de peticiones; lo llama la infraestructura.
      security: []
      servers:
        - url: https://api.korly.com.mx
      responses:
        '200':
          description: Vivo
          content:
            application/json:
              schema:
                type: object
                properties:
                  estado: { type: string, example: ok }

  /salud/listo:
    get:
      tags: [Sistema]
      summary: Listo para recibir tráfico (la base de datos contesta)
      security: []
      servers:
        - url: https://api.korly.com.mx
      responses:
        '200':
          description: Listo
          content:
            application/json:
              schema:
                type: object
                properties:
                  estado: { type: string, example: ok }
        '503':
          description: La base de datos no contesta
          content:
            application/json:
              schema:
                type: object
                properties:
                  estado: { type: string, example: sin_base_de_datos }

  /webhooks/stripe:
    post:
      tags: [Suscripción]
      summary: Webhook de Stripe
      description: >
        Sin Bearer token: la autenticación es la firma `Stripe-Signature`,
        verificada contra el cuerpo crudo. Sin límite de peticiones (Stripe
        reintenta y manda ráfagas legítimas). Procesa los eventos de
        suscripción de forma idempotente.
      security: []
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Evento de Stripe tal cual (se verifica la firma, no el esquema).
      responses:
        '204':
          description: Evento aceptado
        '400':
          description: Falta la firma (`FIRMA_FALTANTE`) o no se pudo verificar el evento (`FIRMA_INVALIDA`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------- PERIODOS ----------
  /periodos:
    post:
      tags: [Periodos]
      summary: Crear el periodo de la quincena en curso
      description: >
        El rango lo decide el servidor con el calendario (ADR-004: 1–15 o
        16–fin de mes); el cliente solo manda el tipo y por ahora solo se
        admite `quincenal`. Si el tenant no tiene periodo activo, el nuevo
        nace `activo` (y materializa recurrentes y mensualidades de tarjeta,
        y reclama arrastres). Si ya hay uno activo, se crea en `borrador` y
        se reutiliza el borrador vigente en vez de crear otro.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearPeriodoRequest'
      responses:
        '201':
          description: Periodo creado (o borrador reutilizado)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Periodo'
        '400':
          $ref: '#/components/responses/ErrorValidacion'

    get:
      tags: [Periodos]
      summary: Listar los periodos del usuario (historial)
      description: >
        Todos, el más reciente primero, sin paginar. Excluye los
        `descartado` (duplicados que una reapertura retiró). El plan
        gratuito ve los últimos 12 meses. Aplica el cierre perezoso antes
        de responder.
      responses:
        '200':
          description: Lista de periodos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Periodo'

  /periodos/activo:
    get:
      tags: [Periodos]
      summary: Obtener el periodo activo del usuario
      description: Aplica el cierre perezoso y la promoción de borrador antes de responder.
      responses:
        '200':
          description: Periodo activo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Periodo'
        '404':
          description: No hay periodo activo (`PERIODO_NO_ENCONTRADO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /periodos/{periodoId}:
    get:
      tags: [Periodos]
      summary: Obtener un periodo por id
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      responses:
        '200':
          description: Periodo encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Periodo'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  /periodos/{periodoId}/desglose:
    get:
      tags: [Periodos]
      summary: Desglose de lo gastado en un periodo por rubro y por semana
      description: >
        Se calcula al consultar (no se guarda), así que funciona igual para
        un periodo cerrado que para el activo. Cuadra con `totalGastado`
        del resumen. Los gastos recurrentes van aparte (`recurrentes`) y no
        entran a `rubros` ni a `semanas`. Lo aportado a metas y retirado
        de vuelta a la quincena en el mismo periodo se compensa.
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      responses:
        '200':
          description: Desglose del periodo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Desglose'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  /periodos/{periodoId}/pagos-tarjeta:
    get:
      tags: [Tarjetas]
      summary: Mensualidades de tarjeta que ya se aplicaron a un periodo
      description: >
        Un pago de tarjeta nunca aparece en el listado de gastos (es otro
        tipo de movimiento); esta es la forma de saber qué mensualidades
        se descontaron de la quincena.
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      responses:
        '200':
          description: Pagos aplicados al periodo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PagoTarjetaAplicado'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  # ---------- CIERRE ----------
  /periodos/{periodoId}/cerrar:
    post:
      tags: [Cierre]
      summary: Cerrar manualmente un periodo activo
      description: >
        El cierre normalmente ocurre de forma perezosa (ADR-004). Idempotente:
        cerrar un periodo ya cerrado devuelve su resumen sin efecto adicional
        (invariante 8). El sobrante (o déficit) se drena a la cuenta puente.
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      responses:
        '200':
          description: Periodo cerrado, con el resumen generado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumenPeriodo'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: Solo se puede cerrar un periodo activo (`PERIODO_NO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /periodos/{periodoId}/reabrir:
    post:
      tags: [Cierre]
      summary: Deshacer el cierre de un periodo hecho por error
      description: >
        ADR-009. No borra nada: anula el resumen (se conserva), revierte el
        drenaje del sobrante y retira, como `descartado`, el periodo
        duplicado que se haya abierto después si solo tiene cargos
        automáticos. Solo se permite mientras el periodo sea el último
        cerrado, su quincena no haya terminado, el sobrante no se haya
        destinado a una meta ni reclamado por otro periodo, y no haya
        actividad del usuario en el periodo posterior.
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      responses:
        '200':
          description: Periodo reabierto
          content:
            application/json:
              schema:
                type: object
                required: [periodoId, estado]
                properties:
                  periodoId: { type: string, format: uuid }
                  estado: { type: string, enum: [activo] }
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: No se puede reabrir (`REAPERTURA_NO_PERMITIDA`); el mensaje explica la razón
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /periodos/{periodoId}/resumen:
    get:
      tags: [Cierre]
      summary: Resumen inmutable de un periodo cerrado
      description: >
        Responde 404 tanto si el periodo no existe como si todavía no está
        cerrado (no hay forma barata de distinguirlos). Un resumen anulado
        por una reapertura no cuenta.
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      responses:
        '200':
          description: Resumen del periodo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumenPeriodo'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  /resumenes/pendiente:
    get:
      tags: [Cierre]
      summary: Resumen con el sobrante todavía sin decidir, si hay alguno
      description: >
        Responde 200 con `null` si no hay ninguno: "nada pendiente" es el
        estado normal. Si hay varios, el más antiguo.
      responses:
        '200':
          description: Resumen pendiente de decisión, o `null`
          content:
            application/json:
              schema:
                nullable: true
                allOf:
                  - $ref: '#/components/schemas/ResumenPeriodo'

  /periodos/{periodoId}/sobrante/decision:
    post:
      tags: [Cierre]
      summary: Decidir qué hacer con el sobrante de un periodo cerrado
      description: >
        Solo con sobrante positivo y sin decisión previa (un déficit se
        arrastra solo). Si no se decide en 7 días, el sistema arrastra.
        `ahorrar` mueve el sobrante a la meta indicada de inmediato.
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionSobranteRequest'
      responses:
        '200':
          description: Decisión aplicada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionSobranteResultado'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: "El periodo no puede recibir una decisión (no cerrado, sin sobrante o ya decidido: `SOBRANTE_YA_DECIDIDO`)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------- INGRESOS ----------
  /periodos/{periodoId}/ingresos:
    post:
      tags: [Ingresos]
      summary: Registrar un ingreso en el periodo
      description: >
        Un periodo admite varios ingresos (pago dividido, bono, dinero
        extra; ADR-007). La fecha es solo cuándo llegó el dinero: no mueve
        la quincena. El periodo debe estar activo.
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearIngresoRequest'
      responses:
        '201':
          description: Ingreso registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovimientoCreado'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: El periodo no está activo (`PERIODO_NO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags: [Ingresos]
      summary: Listar los ingresos de un periodo
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      responses:
        '200':
          description: Lista de ingresos (incluye los revertidos, marcados)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ingreso'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  /ingresos/{ingresoId}:
    patch:
      tags: [Ingresos]
      summary: Editar un ingreso
      description: >
        Como todo es inmutable (ADR-001), revierte el movimiento original y
        registra uno nuevo en el periodo activo actual. `monto` es
        obligatorio aunque solo se quiera cambiar la nota.
      parameters:
        - $ref: '#/components/parameters/IngresoId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditarIngresoRequest'
      responses:
        '200':
          description: Ingreso corregido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditarIngresoResultado'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: Ya estaba corregido (`INGRESO_YA_REVERTIDO`) o no hay periodo activo para el ajuste (`SIN_PERIODO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Ingresos]
      summary: Eliminar un ingreso
      description: "Nunca es un hard delete: se revierte su movimiento en el periodo activo."
      parameters:
        - $ref: '#/components/parameters/IngresoId'
      responses:
        '204':
          description: Ingreso revertido
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: Ya estaba corregido (`INGRESO_YA_REVERTIDO`) o no hay periodo activo (`SIN_PERIODO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------- GASTOS ----------
  /periodos/{periodoId}/gastos:
    post:
      tags: [Gastos]
      summary: Registrar un gasto (captura rápida)
      description: >
        Endpoint de mayor frecuencia de uso. Un gasto se registra aunque
        supere el disponible (ya ocurrió en la vida real): el cliente
        avisa y pide confirmación, el servidor no lo bloquea. El periodo
        debe estar activo.
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearGastoRequest'
      responses:
        '201':
          description: Gasto registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovimientoCreado'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: El periodo no está activo (`PERIODO_NO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags: [Gastos]
      summary: Listar los gastos de un periodo
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
        - name: cursor
          in: query
          schema: { type: string }
          description: Cursor de paginación (`siguienteCursor` de la respuesta anterior)
        - name: limite
          in: query
          schema: { type: integer, minimum: 1, default: 50, maximum: 200 }
      responses:
        '200':
          description: Página de gastos (incluye los revertidos, marcados)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GastoListaPaginada'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  /gastos/{gastoId}:
    patch:
      tags: [Gastos]
      summary: Editar un gasto
      description: >
        Revierte el movimiento original y registra uno nuevo en el periodo
        activo actual; si el gasto era de un periodo ya cerrado, el ajuste
        cae en el activo. `monto` es obligatorio aunque solo se cambie la
        nota o la categoría.
      parameters:
        - $ref: '#/components/parameters/GastoId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditarGastoRequest'
      responses:
        '200':
          description: Gasto corregido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditarGastoResultado'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: Ya estaba corregido (`GASTO_YA_REVERTIDO`) o no hay periodo activo (`SIN_PERIODO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Gastos]
      summary: Eliminar un gasto
      description: "Nunca es un hard delete: se revierte su movimiento en el periodo activo."
      parameters:
        - $ref: '#/components/parameters/GastoId'
      responses:
        '204':
          description: Gasto revertido
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: Ya estaba corregido (`GASTO_YA_REVERTIDO`) o no hay periodo activo (`SIN_PERIODO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------- DISPONIBLE (el motor de flujo de caja) ----------
  /periodos/activo/disponible:
    get:
      tags: [Disponible]
      summary: Cifra de disponible del periodo activo
      description: >
        Endpoint central del producto (modelo-dominio.md §5). Se recalcula
        en cada llamada, nunca se almacena. Si el periodo activo no tiene
        ingreso, responde `sin_ingreso` y sin cifra: el cliente nunca debe
        inventar un valor ni mostrar un $0 como si fuera un cálculo.
      responses:
        '200':
          description: Estado del disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disponible'
        '404':
          description: No hay periodo activo (`PERIODO_NO_ENCONTRADO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------- METAS DE AHORRO ----------
  /metas:
    post:
      tags: [Metas]
      summary: Crear una meta de ahorro
      description: El plan gratuito admite 2 metas activas (las archivadas no cuentan).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearMetaRequest'
      responses:
        '201':
          description: Meta creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '403':
          description: Límite de metas del plan gratuito (`LIMITE_METAS_ALCANZADO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags: [Metas]
      summary: Listar las metas de ahorro (sin las archivadas)
      responses:
        '200':
          description: Lista de metas, la más reciente primero
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Meta'

  /metas/{metaId}:
    patch:
      tags: [Metas]
      summary: Editar el nombre y/o el objetivo de una meta
      description: >
        Son datos de configuración, no del ledger: el avance se deriva del
        saldo real, así que cambiar el objetivo solo recalcula el
        porcentaje. Hay que mandar al menos un campo. La moneda no se edita.
      parameters:
        - $ref: '#/components/parameters/MetaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditarMetaRequest'
      responses:
        '200':
          description: Meta actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

    delete:
      tags: [Metas]
      summary: Eliminar una meta
      description: >
        Sin movimientos nunca, se borra. Con historial y saldo exactamente
        en cero, se archiva (sale del listado y deja de contar para el
        límite del plan). Con saldo distinto de cero se rechaza.
      parameters:
        - $ref: '#/components/parameters/MetaId'
      responses:
        '204':
          description: Meta eliminada o archivada
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: La meta todavía tiene saldo (`META_CON_HISTORIAL`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /metas/{metaId}/movimientos:
    get:
      tags: [Metas]
      summary: Historial de una meta
      description: >
        Aportes (incluido el sobrante ahorrado), retiros a la quincena,
        pagos y aportes externos; los 50 más recientes. Las reversiones no
        salen como filas: su original aparece con `revertido: true`.
      parameters:
        - $ref: '#/components/parameters/MetaId'
      responses:
        '200':
          description: Movimientos de la meta
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MovimientoMeta'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  /metas/{metaId}/aportes:
    post:
      tags: [Metas]
      summary: Aportar a una meta desde la quincena
      description: >
        Reduce el disponible del periodo activo (modelo-dominio.md §6) y
        no puede superarlo: `APORTE_EXCEDE_DISPONIBLE`. Lo aportado y
        retirado de vuelta en el mismo periodo no cuenta como gasto ni
        como ingreso en el resumen.
      parameters:
        - $ref: '#/components/parameters/MetaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearAporteRequest'
      responses:
        '201':
          description: Aporte registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aporte'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: No hay periodo activo (`SIN_PERIODO_ACTIVO`) o el monto supera el disponible (`APORTE_EXCEDE_DISPONIBLE`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /metas/{metaId}/retiros:
    post:
      tags: [Metas]
      summary: Pasar dinero de una meta a la quincena
      description: >
        Aumenta el disponible del periodo activo, como un ingreso. El
        motivo es obligatorio y el monto no puede superar el saldo de la
        meta (`SALDO_META_INSUFICIENTE`).
      parameters:
        - $ref: '#/components/parameters/MetaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearRetiroRequest'
      responses:
        '201':
          description: Retiro registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retiro'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: No hay periodo activo (`SIN_PERIODO_ACTIVO`) o la meta no alcanza (`SALDO_META_INSUFICIENTE`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /metas/{metaId}/pagos:
    post:
      tags: [Metas]
      summary: Pagar algo directo con el dinero de una meta
      description: >
        Sale de la meta sin pasar por la quincena: no cambia el disponible,
        el resumen ni el desglose, y no exige periodo activo. El monto no
        puede superar el saldo de la meta.
      parameters:
        - $ref: '#/components/parameters/MetaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearRetiroRequest'
      responses:
        '201':
          description: Pago registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retiro'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: La meta no alcanza (`SALDO_META_INSUFICIENTE`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /metas/{metaId}/pagos/{movimientoId}:
    delete:
      tags: [Metas]
      summary: Deshacer un pago hecho con la meta
      description: El dinero vuelve a la meta (por reversión), no a la quincena.
      parameters:
        - $ref: '#/components/parameters/MetaId'
        - $ref: '#/components/parameters/MovimientoId'
      responses:
        '204':
          description: Pago deshecho
        '404':
          description: La meta o el pago no existen (`META_NO_ENCONTRADA`, `PAGO_META_NO_ENCONTRADO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Ya estaba deshecho (`PAGO_META_YA_REVERTIDO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /metas/{metaId}/depositos:
    post:
      tags: [Metas]
      summary: Aporte externo — dinero que ya existía fuera de la app, directo a la meta
      description: >
        No toca la quincena (ni el disponible, ni el resumen, ni el
        desglose), no está limitado por el disponible y no exige periodo
        activo. `motivo` es opcional ("ahorro que ya tenía").
      parameters:
        - $ref: '#/components/parameters/MetaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [monto]
              properties:
                monto:
                  $ref: '#/components/schemas/Monto'
                motivo:
                  type: string
                  maxLength: 200
      responses:
        '201':
          description: Aporte externo registrado
          content:
            application/json:
              schema:
                type: object
                required: [id, metaId, monto]
                properties:
                  id: { type: string, format: uuid }
                  metaId: { type: string, format: uuid }
                  monto:
                    $ref: '#/components/schemas/Monto'
                  motivo:
                    type: string
                    nullable: true
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  /metas/{metaId}/depositos/{movimientoId}:
    delete:
      tags: [Metas]
      summary: Deshacer un aporte externo
      description: >
        El dinero sale de la meta de vuelta a "fuera". Solo si la meta
        todavía lo tiene: si ya se pagó o se pasó a la quincena, deshacerlo
        la dejaría en negativo (`SALDO_META_INSUFICIENTE`).
      parameters:
        - $ref: '#/components/parameters/MetaId'
        - $ref: '#/components/parameters/MovimientoId'
      responses:
        '204':
          description: Aporte externo deshecho
        '404':
          description: La meta o el aporte no existen (`META_NO_ENCONTRADA`, `DEPOSITO_META_NO_ENCONTRADO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Ya estaba deshecho (`DEPOSITO_META_YA_REVERTIDO`) o la meta ya no tiene ese dinero (`SALDO_META_INSUFICIENTE`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------- CATEGORÍAS ----------
  /categorias:
    get:
      tags: [Categorías]
      summary: Listar las categorías (predeterminadas + personalizadas)
      description: >
        Sin restricción de acceso en el plan gratuito (Documento Maestro
        §9.1); el límite es de cantidad de personalizadas. Predeterminadas
        primero, alfabético dentro de cada grupo.
      responses:
        '200':
          description: Lista de categorías
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Categoria'

    post:
      tags: [Categorías]
      summary: Crear una categoría personalizada
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearCategoriaRequest'
      responses:
        '201':
          description: Categoría creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categoria'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '403':
          description: Límite de categorías personalizadas del plan (`LIMITE_CATEGORIAS_ALCANZADO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /categorias/{categoriaId}:
    patch:
      tags: [Categorías]
      summary: Cambiar el nombre y/o el ícono de una categoría
      description: >
        PATCH real: manda solo el campo que quieras cambiar. Aplica igual
        a predeterminadas y personalizadas.
      parameters:
        - $ref: '#/components/parameters/CategoriaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActualizarCategoriaRequest'
      responses:
        '200':
          description: Categoría actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categoria'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

    delete:
      tags: [Categorías]
      summary: Eliminar una categoría personalizada
      description: >
        Nunca una predeterminada (`CATEGORIA_PREDETERMINADA`) ni una que ya
        esté en uso en algún gasto, recurrente o cargo de tarjeta
        (`CATEGORIA_EN_USO`).
      parameters:
        - $ref: '#/components/parameters/CategoriaId'
      responses:
        '204':
          description: Categoría eliminada
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: Predeterminada o en uso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------- ATAJOS DE GASTO ----------
  /atajos-gasto:
    get:
      tags: [Atajos]
      summary: Listar los atajos de gasto de la persona
      description: >
        Plantillas (nombre + monto + categoría opcional) para registrar con un toque un gasto
        que se repite. En el orden en que se crearon. `limite` es cuántos puede tener según su
        plan (Free 3, Pro 12).
      responses:
        '200':
          description: Atajos y límite del plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaAtajos'

    post:
      tags: [Atajos]
      summary: Crear un atajo de gasto
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearAtajoRequest'
      responses:
        '201':
          description: Atajo creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Atajo'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '403':
          description: Límite de atajos del plan (`LIMITE_ATAJOS_ALCANZADO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  /atajos-gasto/{atajoId}:
    patch:
      tags: [Atajos]
      summary: Cambiar el nombre, el monto y/o la categoría de un atajo
      description: >
        PATCH real: manda solo lo que quieras cambiar. `categoriaId: null` quita la categoría.
      parameters:
        - name: atajoId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActualizarAtajoRequest'
      responses:
        '200':
          description: Atajo actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Atajo'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

    delete:
      tags: [Atajos]
      summary: Eliminar un atajo
      parameters:
        - name: atajoId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Atajo eliminado
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  # ---------- GASTOS RECURRENTES ----------
  /gastos-recurrentes:
    get:
      tags: [Recurrentes]
      summary: Listar las plantillas de gastos recurrentes
      responses:
        '200':
          description: Lista de recurrentes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GastoRecurrente'

    post:
      tags: [Recurrentes]
      summary: Crear un gasto recurrente
      description: >
        Se materializa solo como gasto real al activarse cada periodo al que
        le toque. Pausar (`activo: false`) es su "eliminar": nunca hay
        hard delete.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearGastoRecurrenteRequest'
      responses:
        '201':
          description: Recurrente creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GastoRecurrente'
        '400':
          $ref: '#/components/responses/ErrorValidacion'

  /gastos-recurrentes/{recurrenteId}:
    patch:
      tags: [Recurrentes]
      summary: Editar, pausar o reanudar un gasto recurrente
      parameters:
        - name: recurrenteId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActualizarGastoRecurrenteRequest'
      responses:
        '200':
          description: Recurrente actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GastoRecurrente'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  # ---------- TARJETAS ----------
  /tarjetas:
    get:
      tags: [Tarjetas]
      summary: Listar las tarjetas de crédito (sin las archivadas)
      responses:
        '200':
          description: Lista de tarjetas con su deuda y crédito disponible
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tarjeta'

    post:
      tags: [Tarjetas]
      summary: Crear una tarjeta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrearTarjetaRequest'
      responses:
        '201':
          description: Tarjeta creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tarjeta'
        '400':
          $ref: '#/components/responses/ErrorValidacion'

  /tarjetas/{tarjetaId}:
    delete:
      tags: [Tarjetas]
      summary: Eliminar una tarjeta
      description: >
        Sin cargos nunca, se borra. Con cargos todos ya corregidos y deuda
        en cero, se archiva. Con alguna compra vigente se rechaza.
      parameters:
        - $ref: '#/components/parameters/TarjetaId'
      responses:
        '204':
          description: Tarjeta eliminada o archivada
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: Tiene compras vigentes (`TARJETA_CON_HISTORIAL`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /tarjetas/{tarjetaId}/cargos:
    get:
      tags: [Tarjetas]
      summary: Listar las compras de una tarjeta con sus mensualidades
      parameters:
        - $ref: '#/components/parameters/TarjetaId'
      responses:
        '200':
          description: Compras de la tarjeta, la más antigua primero (incluye las corregidas, marcadas)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CargoTarjeta'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

    post:
      tags: [Tarjetas]
      summary: Registrar una compra con tarjeta (a una sola exhibición o a MSI)
      description: >
        Sube la deuda de inmediato y calcula las mensualidades con sus
        fechas de vencimiento reales; cada una se descuenta sola de la
        quincena en la que vence. El límite de crédito sí se bloquea.
      parameters:
        - $ref: '#/components/parameters/TarjetaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarCargoRequest'
      responses:
        '201':
          description: Compra registrada
          content:
            application/json:
              schema:
                type: object
                required: [id, mensualidades]
                properties:
                  id: { type: string, format: uuid }
                  mensualidades:
                    type: array
                    items:
                      type: object
                      required: [numeroPago, monto, fechaVencimiento]
                      properties:
                        numeroPago: { type: integer }
                        monto:
                          $ref: '#/components/schemas/Monto'
                        fechaVencimiento: { type: string, format: date }
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '403':
          description: El cargo excede el crédito disponible (`LIMITE_CREDITO_EXCEDIDO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'

  /tarjetas/{tarjetaId}/cargos/{cargoId}:
    delete:
      tags: [Tarjetas]
      summary: Corregir una compra mal registrada
      description: >
        Siempre por reversión, nunca borrado. Las mensualidades ya cobradas
        se devuelven al disponible del periodo activo de hoy; las que aún
        no vencían se eliminan.
      parameters:
        - $ref: '#/components/parameters/TarjetaId'
        - name: cargoId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Compra corregida
          content:
            application/json:
              schema:
                type: object
                required: [mensualidadesRevertidas, mensualidadesEliminadas]
                properties:
                  mensualidadesRevertidas: { type: integer }
                  mensualidadesEliminadas: { type: integer }
        '404':
          description: La tarjeta o la compra no existen (`TARJETA_NO_ENCONTRADA`, `CARGO_NO_ENCONTRADO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Ya estaba corregida (`CARGO_YA_REVERTIDO`) o no hay periodo activo para el ajuste (`SIN_PERIODO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------- SUSCRIPCIÓN ----------
  /suscripcion:
    get:
      tags: [Suscripción]
      summary: Plan y estado de la suscripción
      responses:
        '200':
          description: Estado de la suscripción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstadoSuscripcion'

  /suscripcion/checkout:
    post:
      tags: [Suscripción]
      summary: Crear una sesión de Stripe Checkout para pasar a Pro
      description: Límite estricto de 10 por minuto (cada llamada crea una sesión en Stripe).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intervalo]
              properties:
                intervalo:
                  type: string
                  enum: [mensual, anual]
      responses:
        '200':
          description: Sesión creada; el cliente redirige a `url`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlSesion'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '403':
          description: Los cobros están apagados, Korly Pro todavía es "próximamente" (`COBROS_NO_DISPONIBLES`, variable `COBROS_HABILITADOS`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /suscripcion/portal:
    post:
      tags: [Suscripción]
      summary: Crear una sesión del portal de facturación de Stripe
      description: Límite estricto de 10 por minuto.
      responses:
        '200':
          description: Sesión creada; el cliente redirige a `url`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlSesion'
        '403':
          description: Los cobros están apagados (`COBROS_NO_DISPONIBLES`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Todavía no hay suscripción (`SIN_SUSCRIPCION`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /suscripcion/aviso-pro:
    post:
      tags: [Suscripción]
      summary: Pedir que le avisen al usuario cuando Korly Pro esté disponible
      description: Idempotente — pedirlo otra vez conserva la fecha de la primera vez. No toca Stripe.
      responses:
        '200':
          description: Aviso registrado
          content:
            application/json:
              schema:
                type: object
                required: [avisoProSolicitadoEn]
                properties:
                  avisoProSolicitadoEn:
                    type: string
                    format: date-time
    delete:
      tags: [Suscripción]
      summary: Retirar la petición de aviso de Korly Pro
      description: Idempotente — cancelar un aviso que no existe no es un error.
      responses:
        '204':
          description: Aviso retirado

  # ---------- PREFERENCIAS ----------
  /preferencias:
    get:
      tags: [Preferencias]
      summary: Preferencias de notificaciones
      responses:
        '200':
          description: Preferencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferencias'

    patch:
      tags: [Preferencias]
      summary: Activar o desactivar los recordatorios por correo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Preferencias'
      responses:
        '200':
          description: Preferencias actualizadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferencias'
        '400':
          $ref: '#/components/responses/ErrorValidacion'

  # ---------- CUENTA (derechos ARCO) ----------
  /cuenta/datos:
    get:
      tags: [Cuenta]
      summary: Descargar todos los datos de la cuenta (derecho de acceso)
      description: >
        JSON con todo lo que Korly guarda del usuario, una entrada por
        tabla. Gratis en todos los planes. Límite de 10 por hora.
      responses:
        '200':
          description: Archivo `korly-mis-datos.json`
          headers:
            Content-Disposition:
              schema: { type: string, example: 'attachment; filename="korly-mis-datos.json"' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatosCuenta'

  /cuenta/eliminar:
    post:
      tags: [Cuenta]
      summary: Eliminar la cuenta y todos sus datos (derecho de cancelación)
      description: >
        Irreversible (ADR-008: única excepción al "nada se borra"). Es POST
        porque lleva un cuerpo. Límite de 5 por hora.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmacion]
              properties:
                confirmacion:
                  type: string
                  enum: [ELIMINAR]
                  description: La palabra exacta ELIMINAR
      responses:
        '200':
          description: Cuenta eliminada
          content:
            application/json:
              schema:
                type: object
                required: [usuarioAuthEliminado]
                properties:
                  usuarioAuthEliminado:
                    type: boolean
                    description: false si no se pudo borrar el usuario en Supabase Auth (los datos de Korly sí se borraron)
        '400':
          $ref: '#/components/responses/ErrorValidacion'

  # ---------- COMENTARIOS ----------
  /comentarios:
    post:
      tags: [Comentarios]
      summary: Enviar un comentario, una idea o un problema al equipo de Korly
      description: >
        No se guarda en la base de datos: llega por correo a soporte. Lleva el texto, el tipo, la pantalla donde estaba la
        persona y el identificador de su cuenta; el correo de la persona solo va si `responder` es true (entonces es el
        "responder a" del mensaje). Nunca se manda ningún monto. Límite de 5 por hora.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tipo, mensaje]
              properties:
                tipo:
                  type: string
                  enum: [problema, idea, otro]
                mensaje:
                  type: string
                  minLength: 1
                  maxLength: 2000
                pantalla:
                  type: string
                  description: Ruta de la app donde estaba la persona (p. ej. /historial). Si no tiene forma de ruta se ignora.
                responder:
                  type: boolean
                  description: Si la persona acepta que se le responda a su correo.
      responses:
        '204':
          description: Comentario enviado
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '503':
          description: Sin proveedor de correo configurado (`COMENTARIOS_NO_DISPONIBLES`); no se envió nada

  # ---------- IMPORTACIÓN Y EXPORTACIÓN ----------
  /exportar/gastos.csv:
    get:
      tags: [Importación y exportación]
      summary: Exportar los gastos a CSV
      description: Función de Korly Pro.
      parameters:
        - $ref: '#/components/parameters/Desde'
        - $ref: '#/components/parameters/Hasta'
      responses:
        '200':
          description: Archivo `gastos.csv`
          headers:
            Content-Disposition:
              schema: { type: string, example: 'attachment; filename="gastos.csv"' }
          content:
            text/csv:
              schema: { type: string }
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '403':
          $ref: '#/components/responses/ErrorFuncionPro'

  /exportar/ingresos.csv:
    get:
      tags: [Importación y exportación]
      summary: Exportar los ingresos a CSV
      description: Función de Korly Pro.
      parameters:
        - $ref: '#/components/parameters/Desde'
        - $ref: '#/components/parameters/Hasta'
      responses:
        '200':
          description: Archivo `ingresos.csv`
          headers:
            Content-Disposition:
              schema: { type: string, example: 'attachment; filename="ingresos.csv"' }
          content:
            text/csv:
              schema: { type: string }
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '403':
          $ref: '#/components/responses/ErrorFuncionPro'

  /periodos/{periodoId}/gastos/importar:
    post:
      tags: [Importación y exportación]
      summary: Importar gastos desde un CSV
      description: >
        El CSV va como `text/csv` en el cuerpo (no multipart). Columnas
        buscadas por nombre: `fecha` y `monto` obligatorias; `moneda`,
        `categoria` y `nota` opcionales. Las filas inválidas no abortan la
        importación: se reportan en `errores`.
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      requestBody:
        required: true
        content:
          text/csv:
            schema: { type: string }
      responses:
        '201':
          description: Resultado de la importación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoImportacion'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: El periodo no está activo (`PERIODO_NO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /periodos/{periodoId}/ingresos/importar:
    post:
      tags: [Importación y exportación]
      summary: Importar ingresos desde un CSV
      description: Mismo formato y comportamiento que la importación de gastos (sin la columna de categoría).
      parameters:
        - $ref: '#/components/parameters/PeriodoId'
      requestBody:
        required: true
        content:
          text/csv:
            schema: { type: string }
      responses:
        '201':
          description: Resultado de la importación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoImportacion'
        '400':
          $ref: '#/components/responses/ErrorValidacion'
        '404':
          $ref: '#/components/responses/ErrorNoEncontrado'
        '409':
          description: El periodo no está activo (`PERIODO_NO_ACTIVO`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# ============================================================
# COMPONENTES
# ============================================================
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Token emitido por Supabase Auth (ADR-003). El servidor resuelve
        el user_id interno a partir de la tabla de identidades externas —
        el token nunca se usa directamente como identificador de dominio.

  parameters:
    PeriodoId:
      name: periodoId
      in: path
      required: true
      schema: { type: string, format: uuid }
    GastoId:
      name: gastoId
      in: path
      required: true
      schema: { type: string, format: uuid }
    IngresoId:
      name: ingresoId
      in: path
      required: true
      schema: { type: string, format: uuid }
    MetaId:
      name: metaId
      in: path
      required: true
      schema: { type: string, format: uuid }
    MovimientoId:
      name: movimientoId
      in: path
      required: true
      schema: { type: string, format: uuid }
    CategoriaId:
      name: categoriaId
      in: path
      required: true
      schema: { type: string, format: uuid }
    TarjetaId:
      name: tarjetaId
      in: path
      required: true
      schema: { type: string, format: uuid }
    Desde:
      name: desde
      in: query
      schema: { type: string, format: date }
      description: Fecha mínima (YYYY-MM-DD), inclusive
    Hasta:
      name: hasta
      in: query
      schema: { type: string, format: date }
      description: Fecha máxima (YYYY-MM-DD), inclusive

  responses:
    ErrorValidacion:
      description: "Solicitud inválida (`VALIDACION`: campos faltantes o fuera de rango)"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ErrorNoEncontrado:
      description: El recurso no existe, o es de otro usuario (no se distingue, ADR-005)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ErrorFuncionPro:
      description: Función exclusiva de Korly Pro (`FUNCION_PRO`)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:

    # ---------- Tipos base ----------

    Monto:
      type: object
      description: >
        Representación monetaria según ADR-002: entero en unidades
        mínimas, siempre acompañado de su moneda. El cliente nunca
        envía ni recibe decimales.
      required: [valorMinimo, moneda]
      properties:
        valorMinimo:
          type: integer
          description: Monto en la unidad mínima de la moneda (centavos para MXN). Entre -(2^53-1) y 2^53-1.
          example: 124000
        moneda:
          type: string
          example: MXN
          description: Código ISO 4217

    Error:
      type: object
      required: [codigo, mensaje]
      properties:
        codigo:
          type: string
          example: PERIODO_NO_ACTIVO
        mensaje:
          type: string
          example: El periodo especificado no está en estado Activo

    MovimientoCreado:
      type: object
      description: Respuesta delgada de las altas de ingresos y gastos; alcanza para encadenar los pasos siguientes.
      required: [id, movimientoId, periodoId]
      properties:
        id: { type: string, format: uuid }
        movimientoId: { type: string, format: uuid }
        periodoId: { type: string, format: uuid }

    EstadoPeriodo:
      type: string
      enum: [borrador, activo, cerrado, archivado, descartado]

    TipoPeriodo:
      type: string
      enum: [quincenal]
      description: Por ahora solo `quincenal`; los demás tipos no están soportados todavía.

    # ---------- Periodo ----------

    CrearPeriodoRequest:
      type: object
      required: [tipo]
      properties:
        tipo:
          $ref: '#/components/schemas/TipoPeriodo'

    Periodo:
      type: object
      required: [id, cuentaId, estado, fechaInicio, fechaFin, creadoEn]
      properties:
        id: { type: string, format: uuid }
        cuentaId:
          type: string
          format: uuid
          description: Cuenta del ledger del periodo (interno; el cliente no la necesita)
        estado:
          $ref: '#/components/schemas/EstadoPeriodo'
        fechaInicio: { type: string, format: date }
        fechaFin: { type: string, format: date }
        creadoEn:
          type: string
          format: date-time
          description: Distingue dos periodos con el mismo rango de fechas

    ResumenPeriodo:
      type: object
      description: Snapshot generado al cierre; solo cambia la decisión del sobrante (invariante 15).
      required: [periodoId, totalIngresos, totalGastado, sobrante, decisionSobrante, generadoEn]
      properties:
        periodoId: { type: string, format: uuid }
        totalIngresos:
          $ref: '#/components/schemas/Monto'
        totalGastado:
          $ref: '#/components/schemas/Monto'
        sobrante:
          $ref: '#/components/schemas/Monto'
        decisionSobrante:
          type: string
          enum: [pendiente, ahorrado, arrastrado]
        generadoEn:
          type: string
          format: date-time

    DecisionSobranteRequest:
      type: object
      required: [decision]
      properties:
        decision:
          type: string
          enum: [ahorrar, arrastrar]
        metaId:
          type: string
          format: uuid
          description: Requerido si decision = ahorrar

    DecisionSobranteResultado:
      type: object
      required: [periodoId, decision, montoAplicado]
      properties:
        periodoId: { type: string, format: uuid }
        decision:
          type: string
          enum: [ahorrado, arrastrado]
        montoAplicado:
          $ref: '#/components/schemas/Monto'

    Desglose:
      type: object
      required: [periodoId, fechaInicio, fechaFin, totalGastado, totalVariable, recurrentes, rubros, semanas, semanaMasCara]
      properties:
        periodoId: { type: string, format: uuid }
        fechaInicio: { type: string, format: date }
        fechaFin: { type: string, format: date }
        totalGastado:
          $ref: '#/components/schemas/Monto'
        totalVariable:
          allOf:
            - $ref: '#/components/schemas/Monto'
          description: '`totalGastado` menos los recurrentes: es lo que cubren `rubros` y `semanas`.'
        recurrentes:
          type: object
          required: [total, items]
          properties:
            total:
              $ref: '#/components/schemas/Monto'
            items:
              type: array
              items:
                type: object
                required: [id, descripcion, frecuencia, diaMes, monto]
                properties:
                  id: { type: string, format: uuid }
                  descripcion: { type: string }
                  frecuencia: { type: string, enum: [quincenal, mensual] }
                  diaMes: { type: integer, nullable: true }
                  monto:
                    $ref: '#/components/schemas/Monto'
        rubros:
          type: array
          description: De mayor a menor monto.
          items:
            type: object
            required: [clave, etiqueta, tipo, monto]
            properties:
              clave: { type: string }
              etiqueta: { type: string }
              tipo:
                type: string
                enum: [categoria, sin_categoria, aportes_meta, pagos_tarjeta]
              monto:
                $ref: '#/components/schemas/Monto'
        semanas:
          type: array
          description: Bloques de 7 días (el último puede tener más).
          items:
            type: object
            required: [numero, fechaInicio, fechaFin, dias, diasTranscurridos, total, promedioDiario, rubros]
            properties:
              numero: { type: integer }
              fechaInicio: { type: string, format: date }
              fechaFin: { type: string, format: date }
              dias: { type: integer }
              diasTranscurridos:
                type: integer
                description: En el periodo activo, el bloque en curso solo cuenta los días que ya pasaron.
              total:
                $ref: '#/components/schemas/Monto'
              promedioDiario:
                $ref: '#/components/schemas/Monto'
              rubros:
                type: array
                items:
                  type: object
                  required: [clave, monto]
                  properties:
                    clave: { type: string }
                    monto:
                      $ref: '#/components/schemas/Monto'
        semanaMasCara:
          type: integer
          nullable: true
          description: Número de la semana con mayor promedio diario; null si no hay al menos dos semanas comparables.

    # ---------- Ingreso ----------

    CrearIngresoRequest:
      type: object
      required: [monto, fechaEfectiva]
      properties:
        monto:
          $ref: '#/components/schemas/Monto'
        fechaEfectiva:
          type: string
          format: date
          description: Fecha real en que llegó el dinero; no mueve la quincena (ADR-007).
        nota:
          type: string
          maxLength: 200

    Ingreso:
      type: object
      required: [id, periodoId, monto, fechaEfectiva, fechaRegistro, revertido]
      properties:
        id: { type: string, format: uuid }
        periodoId: { type: string, format: uuid }
        monto:
          $ref: '#/components/schemas/Monto'
        fechaEfectiva: { type: string, format: date }
        fechaRegistro: { type: string, format: date-time }
        nota: { type: string }
        revertido:
          type: boolean
          description: true si ya se corrigió (editar o eliminar); el ledger lo conserva.

    EditarIngresoRequest:
      type: object
      required: [monto]
      properties:
        monto:
          $ref: '#/components/schemas/Monto'
        nota: { type: string }

    EditarIngresoResultado:
      type: object
      required: [ingreso, ajusteGenerado, periodoDelAjuste]
      properties:
        ingreso:
          type: object
          required: [id, periodoId, monto]
          properties:
            id: { type: string, format: uuid }
            periodoId: { type: string, format: uuid }
            monto:
              $ref: '#/components/schemas/Monto'
        ajusteGenerado:
          type: boolean
          description: true si el original pertenecía a un periodo cerrado
        periodoDelAjuste:
          type: string
          format: uuid
          nullable: true

    # ---------- Gasto ----------

    CrearGastoRequest:
      type: object
      required: [monto, fechaEfectiva]
      description: "El cliente precarga la fecha de hoy: la captura sigue siendo de ≤2 toques."
      properties:
        monto:
          $ref: '#/components/schemas/Monto'
        fechaEfectiva:
          type: string
          format: date
        categoriaId:
          type: string
          format: uuid
          nullable: true
        nota:
          type: string
          maxLength: 200

    Gasto:
      type: object
      required: [id, periodoId, monto, fechaEfectiva, fechaRegistro, revertido, esRecurrente]
      properties:
        id: { type: string, format: uuid }
        periodoId: { type: string, format: uuid }
        monto:
          $ref: '#/components/schemas/Monto'
        categoriaId:
          type: string
          format: uuid
        nota: { type: string }
        fechaEfectiva: { type: string, format: date }
        fechaRegistro: { type: string, format: date-time }
        revertido:
          type: boolean
          description: true si ya se corrigió (editar o eliminar); el ledger lo conserva.
        esRecurrente:
          type: boolean
          description: true si lo materializó un gasto recurrente (cargo automático).

    EditarGastoRequest:
      type: object
      required: [monto]
      properties:
        monto:
          $ref: '#/components/schemas/Monto'
        categoriaId:
          type: string
          format: uuid
          nullable: true
        nota:
          type: string
        fechaEfectiva:
          type: string
          format: date
          description: >
            Corrige la fecha calendario del gasto. Como la fila se recrea por
            completo en cada edición, omitir cualquier campo no conserva el
            valor anterior: lo deja vacío (la fecha, en el momento de la edición).

    EditarGastoResultado:
      type: object
      required: [gasto, ajusteGenerado, periodoDelAjuste]
      properties:
        gasto:
          type: object
          required: [id, periodoId, monto]
          properties:
            id: { type: string, format: uuid }
            periodoId: { type: string, format: uuid }
            monto:
              $ref: '#/components/schemas/Monto'
        ajusteGenerado:
          type: boolean
          description: true si el gasto original pertenecía a un periodo cerrado
        periodoDelAjuste:
          type: string
          format: uuid
          nullable: true

    GastoListaPaginada:
      type: object
      required: [datos, siguienteCursor]
      properties:
        datos:
          type: array
          items:
            $ref: '#/components/schemas/Gasto'
        siguienteCursor:
          type: string
          nullable: true

    # ---------- Disponible (motor de flujo de caja) ----------

    Disponible:
      type: object
      required: [estado, periodoId, calculadoEn]
      description: >
        Ver modelo-dominio.md §5. Si `estado` es `sin_ingreso`, el cliente
        muestra el llamado a registrar un ingreso en lugar de cualquier cifra.
      properties:
        estado:
          type: string
          enum: [ok, sin_ingreso]
        periodoId: { type: string, format: uuid }
        disponible:
          allOf:
            - $ref: '#/components/schemas/Monto'
          description: Solo si estado = ok. Puede ser negativo (sobregiro).
        diasRestantes:
          type: integer
          description: Incluye el día de hoy. Solo si estado = ok.
        cifraDiaria:
          allOf:
            - $ref: '#/components/schemas/Monto'
          description: >
            Objetivo fijo del día (calculado sobre el disponible de antes de
            cualquier gasto de hoy) menos `gastadoHoy`; puede ser negativa si
            hoy ya se excedió. Solo si estado = ok.
        gastadoHoy:
          allOf:
            - $ref: '#/components/schemas/Monto'
          description: Cuánto ha salido netamente hoy; nunca negativo. Solo si estado = ok.
        huboActividadHoy:
          type: boolean
          description: >
            true si el usuario decidió algo hoy (un gasto, un aporte o un
            retiro de meta); los cargos automáticos no cuentan. Distinto de
            `gastadoHoy > 0`: un retiro que cubre un gasto da neto cero. Solo si estado = ok.
        calculadoEn:
          type: string
          format: date-time
          description: Nunca se almacena — se recalcula en cada consulta.

    # ---------- Metas de ahorro ----------

    CrearMetaRequest:
      type: object
      required: [nombre, montoObjetivo]
      properties:
        nombre:
          type: string
          maxLength: 100
        montoObjetivo:
          $ref: '#/components/schemas/Monto'

    EditarMetaRequest:
      type: object
      description: Al menos uno de los dos campos.
      properties:
        nombre:
          type: string
          maxLength: 100
        montoObjetivo:
          $ref: '#/components/schemas/Monto'

    Meta:
      type: object
      required: [id, nombre, montoObjetivo, montoAcumulado, porcentajeAvance]
      properties:
        id: { type: string, format: uuid }
        nombre: { type: string }
        montoObjetivo:
          $ref: '#/components/schemas/Monto'
        montoAcumulado:
          allOf:
            - $ref: '#/components/schemas/Monto'
          description: Saldo real de la cuenta de la meta; nunca se cachea.
        porcentajeAvance:
          type: number
          format: float
          description: Puede pasar de 100 si se aportó más del objetivo.

    CrearAporteRequest:
      type: object
      required: [monto]
      properties:
        monto:
          $ref: '#/components/schemas/Monto'

    Aporte:
      type: object
      required: [id, metaId, monto, periodoOrigenId]
      properties:
        id: { type: string, format: uuid }
        metaId: { type: string, format: uuid }
        monto:
          $ref: '#/components/schemas/Monto'
        periodoOrigenId: { type: string, format: uuid }

    CrearRetiroRequest:
      type: object
      description: Sirve para retiros a la quincena y para pagos con la meta.
      required: [monto, motivo]
      properties:
        monto:
          $ref: '#/components/schemas/Monto'
        motivo:
          type: string
          maxLength: 200
          description: Obligatorio

    Retiro:
      type: object
      required: [id, metaId, monto, motivo]
      properties:
        id: { type: string, format: uuid }
        metaId: { type: string, format: uuid }
        monto:
          $ref: '#/components/schemas/Monto'
        motivo: { type: string }

    MovimientoMeta:
      type: object
      required: [id, tipo, monto, fechaEfectiva, nota, revertido]
      properties:
        id: { type: string, format: uuid }
        tipo:
          type: string
          enum: [aporte, retiro, pago, deposito]
          description: >
            `aporte` desde la quincena (o sobrante ahorrado), `retiro` a la
            quincena, `pago` directo con la meta, `deposito` aporte externo.
        monto:
          allOf:
            - $ref: '#/components/schemas/Monto'
          description: Con signo desde el punto de vista de la meta; positivo entra, negativo sale.
        fechaEfectiva: { type: string, format: date }
        nota:
          type: string
          nullable: true
        revertido:
          type: boolean
          description: Solo los pagos y los aportes externos se pueden deshacer.

    # ---------- Categorías ----------

    IconoCategoria:
      type: string
      description: >
        Set fijo y curado (backend/src/modulos/categorias/categorias.ts,
        ICONOS_CATEGORIA_VALIDOS) — nunca el nombre de un ícono de una
        librería específica. `'otros'` es el respaldo genérico.
      enum:
        [comida, transporte, vivienda, servicios, salud, entretenimiento, ropa, educacion, ahorro, compras, proyectos, mascotas, viajes, regalos, tecnologia, otros]

    CrearCategoriaRequest:
      type: object
      required: [nombre]
      properties:
        nombre:
          type: string
          maxLength: 50
        icono:
          allOf:
            - $ref: '#/components/schemas/IconoCategoria'
          nullable: true

    ActualizarCategoriaRequest:
      type: object
      description: PATCH real — solo se cambia el campo que se manda.
      properties:
        nombre:
          type: string
          maxLength: 50
        icono:
          allOf:
            - $ref: '#/components/schemas/IconoCategoria'
          nullable: true
          description: 'null quita el ícono elegido — el cliente vuelve a emparejar por palabra clave sobre el nombre.'

    Categoria:
      type: object
      required: [id, nombre, esPredeterminada, icono]
      properties:
        id: { type: string, format: uuid }
        nombre: { type: string }
        esPredeterminada: { type: boolean }
        icono:
          allOf:
            - $ref: '#/components/schemas/IconoCategoria'
          nullable: true

    # ---------- Atajos de gasto ----------

    Atajo:
      type: object
      required: [id, nombre, monto, categoriaId]
      properties:
        id: { type: string, format: uuid }
        nombre: { type: string, maxLength: 30 }
        monto:
          $ref: '#/components/schemas/Monto'
        categoriaId:
          type: string
          format: uuid
          nullable: true

    ListaAtajos:
      type: object
      required: [atajos, limite]
      properties:
        atajos:
          type: array
          items:
            $ref: '#/components/schemas/Atajo'
        limite:
          type: integer
          description: Cuántos atajos puede tener según su plan.

    CrearAtajoRequest:
      type: object
      required: [nombre, monto]
      properties:
        nombre: { type: string, maxLength: 30 }
        monto:
          $ref: '#/components/schemas/Monto'
        categoriaId:
          type: string
          format: uuid
          nullable: true

    ActualizarAtajoRequest:
      type: object
      description: PATCH real — solo se cambia lo que se manda.
      properties:
        nombre: { type: string, maxLength: 30 }
        monto:
          $ref: '#/components/schemas/Monto'
        categoriaId:
          type: string
          format: uuid
          nullable: true

    # ---------- Gastos recurrentes ----------

    FrecuenciaRecurrente:
      type: string
      enum: [quincenal, mensual]

    GastoRecurrente:
      type: object
      required: [id, descripcion, monto, categoriaId, frecuencia, diaMes, activo]
      properties:
        id: { type: string, format: uuid }
        descripcion: { type: string }
        monto:
          $ref: '#/components/schemas/Monto'
        categoriaId:
          type: string
          format: uuid
          nullable: true
        frecuencia:
          $ref: '#/components/schemas/FrecuenciaRecurrente'
        diaMes:
          type: integer
          minimum: 1
          maximum: 31
          nullable: true
          description: Obligatorio si la frecuencia es mensual; null si es quincenal.
        activo: { type: boolean }

    CrearGastoRecurrenteRequest:
      type: object
      required: [descripcion, monto, frecuencia]
      properties:
        descripcion: { type: string }
        monto:
          $ref: '#/components/schemas/Monto'
        categoriaId:
          type: string
          format: uuid
          nullable: true
        frecuencia:
          $ref: '#/components/schemas/FrecuenciaRecurrente'
        diaMes:
          type: integer
          minimum: 1
          maximum: 31
          nullable: true

    ActualizarGastoRecurrenteRequest:
      type: object
      description: PATCH — solo se cambia lo que se manda.
      properties:
        descripcion: { type: string }
        monto:
          $ref: '#/components/schemas/Monto'
        categoriaId:
          type: string
          format: uuid
          nullable: true
        frecuencia:
          $ref: '#/components/schemas/FrecuenciaRecurrente'
        diaMes:
          type: integer
          minimum: 1
          maximum: 31
          nullable: true
        activo: { type: boolean }

    # ---------- Tarjetas ----------

    CrearTarjetaRequest:
      type: object
      required: [nombre, limiteCredito, diaCorte, diasParaPago]
      properties:
        nombre: { type: string }
        limiteCredito:
          $ref: '#/components/schemas/Monto'
        diaCorte:
          type: integer
          minimum: 1
          maximum: 31
        diasParaPago:
          type: integer
          minimum: 1
          maximum: 90
          description: Días después del corte para pagar (los bancos mexicanos calculan la fecha límite así).

    Tarjeta:
      type: object
      required: [id, nombre, limiteCredito, deuda, creditoDisponible, diaCorte, diasParaPago]
      properties:
        id: { type: string, format: uuid }
        nombre: { type: string }
        limiteCredito:
          $ref: '#/components/schemas/Monto'
        deuda:
          allOf:
            - $ref: '#/components/schemas/Monto'
          description: Positiva cuando hay deuda (el saldo del ledger es negativo; esa convención no se expone).
        creditoDisponible:
          $ref: '#/components/schemas/Monto'
        diaCorte: { type: integer }
        diasParaPago: { type: integer }

    RegistrarCargoRequest:
      type: object
      required: [descripcion, monto]
      properties:
        descripcion: { type: string }
        monto:
          allOf:
            - $ref: '#/components/schemas/Monto'
          description: Monto total de la compra.
        numeroPlazos:
          type: integer
          minimum: 1
          maximum: 60
          default: 1
          description: 1 = una exhibición; más de 1 = MSI.
        categoriaId:
          type: string
          format: uuid
          nullable: true
        fechaCompra:
          type: string
          format: date
          description: Por defecto, hoy.

    CargoTarjeta:
      type: object
      required: [id, descripcion, montoTotal, numeroPlazos, categoriaId, fechaCompra, revertido, mensualidades]
      properties:
        id: { type: string, format: uuid }
        descripcion: { type: string }
        montoTotal:
          $ref: '#/components/schemas/Monto'
        numeroPlazos: { type: integer }
        categoriaId:
          type: string
          format: uuid
          nullable: true
        fechaCompra: { type: string, format: date }
        revertido:
          type: boolean
          description: true si ya se corrigió.
        mensualidades:
          type: array
          items:
            type: object
            required: [numeroPago, monto, fechaVencimiento, pagado]
            properties:
              numeroPago: { type: integer }
              monto:
                $ref: '#/components/schemas/Monto'
              fechaVencimiento: { type: string, format: date }
              pagado:
                type: boolean
                description: true si ya se descontó de una quincena.

    PagoTarjetaAplicado:
      type: object
      required: [tarjetaNombre, cargoDescripcion, numeroPago, numeroPlazos, monto]
      properties:
        tarjetaNombre: { type: string }
        cargoDescripcion: { type: string }
        numeroPago: { type: integer }
        numeroPlazos: { type: integer }
        monto:
          $ref: '#/components/schemas/Monto'

    # ---------- Suscripción, preferencias, cuenta ----------

    EstadoSuscripcion:
      type: object
      required: [plan, estadoSuscripcion, suscripcionVigenteHasta, cobrosHabilitados, avisoProSolicitadoEn]
      properties:
        plan:
          type: string
          enum: [free, pro]
        estadoSuscripcion:
          type: string
          enum: [trialing, activa, pago_pendiente, cancelada]
          nullable: true
        suscripcionVigenteHasta:
          type: string
          format: date-time
          nullable: true
        cobrosHabilitados:
          type: boolean
          description: "`false` mientras Korly Pro es \"próximamente\": el cliente muestra \"Avísame\" en vez de los botones de pago."
        avisoProSolicitadoEn:
          type: string
          format: date-time
          nullable: true
          description: Cuándo pidió el usuario que le avisemos cuando Pro esté disponible; `null` si no lo ha pedido.

    UrlSesion:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri

    Preferencias:
      type: object
      required: [recibirRecordatorios]
      properties:
        recibirRecordatorios: { type: boolean }

    DatosCuenta:
      type: object
      required: [version, generadoEn, cuenta, datos]
      properties:
        version:
          type: integer
          enum: [1]
        generadoEn:
          type: string
          format: date-time
        cuenta:
          type: object
          description: Datos de la cuenta; el correo se consulta a Supabase Auth (ADR-003).
          required: [correo]
          properties:
            correo:
              type: string
              nullable: true
          additionalProperties: true
        datos:
          type: object
          description: Una entrada por tabla con `tenant_id`, con todas sus filas tal como están guardadas.
          additionalProperties:
            type: array
            items:
              type: object

    ResultadoImportacion:
      type: object
      required: [creados, errores]
      properties:
        creados: { type: integer }
        errores:
          type: array
          items:
            type: object
            required: [fila, mensaje]
            properties:
              fila:
                type: integer
                description: 1-indexado sobre las filas de datos, sin contar el encabezado.
              mensaje: { type: string }
